.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gallery-card {
  /* border: 1px solid #c8c8c8; */
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease, filter 0.3s ease, background-color 0.3s ease;
}

.gallery-card-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}


.gallery-card-content {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.gallery-card-content h3 {
  margin-top: 0;
  font-size: 1.2em; /* Adjust font size */
  line-height: 1.2; /* Adjust line height */
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-card-date {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gallery-card-tags {
  display: flex; /* Use Flexbox to align tags in a row */
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  gap: 5px; /* Add spacing between tags */
  overflow: hidden; /* Hide overflowing tags */
  text-overflow: ellipsis; /* Add ellipsis for overflowing content */
  white-space: nowrap; /* Prevent line breaks */
}


.gallery-card:hover {
  /* box-shadow: 0 4px 12px rgba(255, 255, 255, 0.25), inset 0 0 4px rgba(80, 51, 51, 0.1); */
  filter: brightness(0.8); /* Slightly dim the card on hover */
}